@import './responsive.scss';

.layout {
    background-color: aqua;
    max-width: 1366px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @include lg {
        background-color: rgb(235, 182, 182);
        max-width: 1280px;
    }

    @include md {
        background-color: rgb(176, 196, 196);
        max-width: 768px;
    }

    @include sm {
        background-color: rgb(199, 180, 180);
        max-width: 640px;
    }

}